@supports (display: grid) {

    .header {
        grid-area: header;
    }

    .nav {
        grid-area: nav;
    }
    .image {
        grid-area: image;
    }

    .content {
        grid-area: content;
    }

    .footer {
        grid-area: footer;
    }

    @media screen and (min-width: 480px) {

        .wrapper {
            display: grid;
            grid-column-gap: 10px;
            grid-template-columns: 1fr auto 1fr;
            grid-template-areas:
                    "header header header"
                    "image image image"
                    "footer footer footer"
                    "nav content content";
        }
    }

    @media screen and (min-width: 780px) {

        .wrapper {
            grid-template-areas:
                    "header header header"
                    "image image image"
                    "nav content footer"
        }
    }
}

.content {
    margin: 0 auto;
    max-width: 960px;
    padding: 1.0875rem 1.45rem;
}

.image {
    width: auto;
}

